<ion-header>
	<ion-toolbar color="primary">
		<ion-title> Ionic Picker </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-item>
      <ion-icon name="file-tray-full-outline" class="title-icon"></ion-icon>
			<ion-label>Framework: </ion-label>
			<ion-label color="primary">{{ framework }}</ion-label>
			<ion-button slot="end" fill="clear" (click)="showBasicPicker()"
				>Select</ion-button
			>
		</ion-item>
		<ion-grid>
			<ion-row class="picker-title">
				<ion-col size="4" color="primary">Game</ion-col>
				<ion-col size="4" color="primary">Category</ion-col>
				<ion-col size="4" color="primary">Rating</ion-col>
			</ion-row>
			<ion-row class="picker-results">
				<ion-col size="4">{{ selected[0] }}</ion-col>
				<ion-col size="4">{{ selected[1] }}</ion-col>
				<ion-col size="4">{{ selected[2] }}</ion-col>
			</ion-row>
		</ion-grid>
		<ion-button expand="block" (click)="showAdvancedPicker()"
			>Show Advanced Picker</ion-button
		>
	</ion-card>
</ion-content>
